.waht {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    color: white;
}

.yuri {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    color: violet;
}

body {
    background-color: purple;
}
