.waht {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    color: blueviolet;
}

.yuri {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    color: violet;
}

body {
    background-color: black;
}
